.features {

}

.features__header {
  padding-top: 47px;
  background: url("../img/white.svg") 0 224px no-repeat,
  #ffffff;
  height: 240px;
  margin-bottom:0;
  background-position: bottom;
}
.features__headline{}

.features__intro {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}