.name {}

.name__title {}

.name__data {
  height: 58px;
  margin-bottom: 23px;
}

.name__label-name {}

.name__input-name {
/*  margin-left: 14px;
  margin-right: 20px;*/
  height: 58px;
  border: none;
  background: #f2f2f2;
  padding-left: 22px;
}

.name__input-name::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}