.photo-video {
  font-size: 14px;
  line-height: 24px;
}

.photo-video__list {
  list-style: none;
  padding: 0;
}

.photo-video__desc {
/*  font-size: 14px;
  line-height: 24px;*/
  font-weight: 700;
}
.photo-video__author {
  text-transform: none;
/*  font-size: 14px;
  line-height: 24px;*/
  font-weight: 400;
}
.photo-video__likes {
/*  font-size: 14px;
  line-height: 24px;*/
  font-weight: 700;
}