.promobanner {
  /*background: url("../img/white.svg") 0 0 no-repeat,*/
  background: #81b3d2;
  color: #ffffff;
}

/*.promobanner__text {}*/

.promobanner__title {
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0;
}

.promobanner__number {
  font-size: 14px;
  line-height: 21px;
}

.promobanner__description {
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 0;
  padding-bottom: 25px;
}

.promobanner__img {
  height: 260px;
  padding: 0;
  margin: 0;
}
