.search-hostel {

}

.search-hostel__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search-hostel__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.search-hostel__link {}