.contacts {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 17px;
  margin-bottom: 12px;
}

.contacts__title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contacts__data {
  margin-bottom: 16px;
  margin-left: 20px;
}

.contacts__label-phone {
  font-size: 14px;
  line-height: 26px;
  padding-left: 22px;
}

.contacts__input-phone-container {
  height: 58px;
  width: 280px;
  padding: 0;
  margin: 0;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: #e6e6e6;
    top: 5px;
    right: 0;
    width: 58px;
    height: 58px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 27px;
    right: 20px;
    background: url("../img/icon-phone.svg");
    width: 18px;
    height: 18px;
  }
}

.contacts__input-phone {
  height: 58px;
  width: 176px;
  border: none;
  background: #f2f2f2;
  padding-left: 22px;
  padding-right: 82px;
  margin-top: 5px;
  font: inherit;

  &:hover {
    background: #e5e5e5;
  }

  &:active,
  &:focus {
    outline: 4px solid #e5e5e5;
    background: #ffffff;
  }
}

.contacts__input-phone::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.contacts__label-email {
  font-size: 14px;
  line-height: 26px;
  padding-left: 22px;
}

.contacts__input-email-container {
  height: 58px;
  width: 280px;
  padding: 0;
  margin: 0;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: #e6e6e6;
    top: 5px;
    right: 0;
    width: 58px;
    height: 58px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 28px;
    right: 21px;
    background: url("../img/icon-mail.svg");
    width: 16px;
    height: 16px;
  }
}

.contacts__input-email {
  height: 58px;
  width: 176px;
  border: none;
  background: #f2f2f2;
  padding-left: 22px;
  padding-right: 82px;
  margin-top: 5px;
  font: inherit;

  &:hover {
    background: #e5e5e5;
  }

  &:active,
  &:focus {
    outline: 4px solid #e5e5e5;
    background: #ffffff;
  }
}

.contacts__input-email::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  position: relative;
}

@media (min-width: $tablet-width) {
  .contacts {
    border-bottom: none;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .contacts__title {
    margin-top: 25px;
    margin-bottom: 22px;
  }

  .contacts__data {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .contacts__input-phone-container {
    width: 650px;

    &::before {
      top: 7px;
    }

    &::after {
      top: 28px;
    }
  }

  .contacts__input-phone {
    width: 548px;
    margin-top: 7px;
  }

  .contacts__input-email-container {
    width: 650px;

    &::before {
      top: 7px;
    }

    &::after {
      top: 30px;
    }
  }

  .contacts__input-email {
    width: 548px;
    margin-top: 7px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__title {
    width: 100%;
    margin-top: 22px;
    margin-bottom: 65px;
  }

  .contacts__data {
    min-width: 480px; /*408px;*/
    display: block;
  }

  .contacts__input-phone-container {
    width: 315px;
    display: inline-block;
  }

  .contacts__label-phone {
    padding-left: 5px;
    padding-right: 10px;
  }

  .contacts__cont-phone {
    display: none;
  }

  .contacts__input-phone {
    width: 211px;
  }

  .contacts__input-email-container {
    width: 315px;
    display: inline-block;
  }

  .contacts__label-email {
    padding-right: 10px;
    padding-left: 0;
  }

  .contacts__input-email {
    width: 211px;
  }
}
