.contacts {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 17px;
  margin-bottom: 12px;
}

.contacts__title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contacts__data {
  margin-bottom: 11px;
  margin-left: 20px;
}

.contacts__label-phone {
  font-size: 14px;
  line-height: 26px;
  padding-left: 22px;
}

.contacts__input-phone {
  height: 58px;
  width: 176px;
  border: none;
  background: #f2f2f2;
  padding-left: 22px;
  padding-right: 82px;
  margin-top: 5px;
}

.contacts__input-phone::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.contacts__label-email {
  font-size: 14px;
  line-height: 26px;
  padding-left: 22px;
}

.contacts__input-email {
  height: 58px;
  width: 176px;
  border: none;
  background: #f2f2f2;
  padding-left: 22px;
  padding-right: 82px;
  margin-top: 5px;
}

.contacts__input-email::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .contacts {
    border-bottom: none;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .contacts__title {
    margin-top: 25px;
    margin-bottom: 22px;
  }

  .contacts__data {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .contacts__input-phone {
    width: 548px;
    margin-top: 7px;
  }

  .contacts__input-email {
    width: 548px;
    margin-top: 7px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__title {
    width: 100%;
    margin-top: 22px;
    margin-bottom: 65px;
  }

  .contacts__data {
    min-width: 408px;
    display: block;
  }

  .contacts__label-phone {
    padding-left: 5px;
    padding-right: 10px;
  }

  .contacts__input-phone {
    width: 215px;
  }

  .contacts__label-email {
    padding-right: 10px;
  }

  .contacts__input-email {
    width: 215px;
  }
}
