.copyright {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.copyright__text {
  padding-right: 12px;
  font-size: 14px;
  line-height: 26px;
}

.copyright__link {
  width: 26px;
  height: 34px;
}

.copyright__link svg path {
  fill: #000000;
}

.copyright__link:hover svg path {
  fill: #81b3d2;
}

.copyright__link:active svg path {
  fill: #b2b2b2;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
  }
}
