.emotion__title {
  margin-top: 20px;
  margin-bottom: 17px;
}

.emotion__textarea {
  width: 236px;
  height: 126px;
  background: #f2f2f2;
  padding: 17px 19px;
  border: none;
  margin-bottom: 23px;
  margin-left: 20px;
  font: inherit;
}

.emotion__textarea::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .emotion {
    width: 100%;
    text-align: center;
  }

  .emotion__textarea {
    width: 603px;
    height: 130px;
    margin-left: 1px;
    padding-top: 17px;
    margin-bottom: 52px;
  }

  .emotion__title {
    margin-top: 31px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .emotion {

    width: 100%;
    text-align: left;
  }

  .emotion__textarea {
    width: 916px;
    margin-left: 5px;
    padding-left: 22px;
  }

  .emotion__title {
    margin-top: 30px;
  }
}
