/*.emotion{}
.emotion__title{}*/

.emotion__textarea {
  width: 236px;
  height: 161px;
  background: #f2f2f2;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  margin-bottom: 23px;
  margin-left: 20px;
}

.emotion__textarea::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
