.emotion__textarea {
  width: 236px;
  height: 161px;
  background: #f2f2f2;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  margin-bottom: 23px;
  margin-left: 20px;
}

.emotion__textarea::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .emotion {
    width: 100%;
    text-align: center;
  }

  .emotion__textarea {
    width: 603px;
    height: 140px;
    margin-left: 1px;
    padding-top: 17px;
    margin-bottom: 59px;
  }

  .emotion__title {
    margin-top: 25px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .emotion {

    width: 100%;
    text-align: left;
  }

  .emotion__textarea {
    width: 916px;
  }

  .emotion__title {
    margin-top: 22px;
  }
}
