.features__header {
  padding-top: 38px;
  padding-left: 33px;
  padding-right: 31px;
  background: url("../img/white.svg") 0 224px no-repeat,
    #ffffff;
  min-height: 200px;
  margin-bottom: 0;
  background-position: bottom;
}

.features__headline {
  margin: 0;
  margin-bottom: 30px;
}

.features__intro {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .features__header {
    background: none;
    min-height: 168px;
  }

  .features__headline {
    padding: 0 120px;
    padding-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .features__headline {
    padding: 0 350px;
    padding-top: 10px;
    padding-bottom: 0;
  }
}
