.form {
  text-align: left;
}

.form__button {
  text-align: center;
  width: 281px;
  height: 58px;
  border: none;
  margin-left: 17px;
  margin-top: 26px;
  margin-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__opinion {
    width: 278px;
    order: -1;
  }

  .form__name {
    width: 268px;
  }

  .form__contacts,
  .form__visited,
  .form__emotion {
    width: 650px;
  }

  .form__button {
    width: 325px;
    margin-left: 0;
    margin-bottom: 65px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__opinion {
    width: 406px;
  }

  .form__name {
    width: 406px;
  }

  .form__contacts,
  .form__visited,
  .form__emotion {
    width: 960px;
  }

  .form__button {
    width: 480px;
    margin-left: 5px;
    margin-bottom: 72px;
  }
}
