.inner-background {
  width: 320px;
  height: 160px;
  background: url("../img/bg-intro-triangle-mobile.svg") 0 134px no-repeat,
    url("../img/bg-back-mobile@1x.jpg"),
    #8fb6d3;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/bg-intro-triangle-mobile.svg") 0 134px no-repeat,
      url("../img/bg-back-mobile@2x.jpg"),
      #8fb6d3;
    background-size: 320px 160px;
  }

  background-position: bottom;
}

.inner-background__img {
  padding-top: 52px;
}

@media (min-width: $tablet-width) {
  .inner-background {
    width: $tablet-width;
    height: 290px;
    background: url("../img/bg-intro-triangle-tablet.svg") 0 56px no-repeat,
      url("../img/bg-back-tablet@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/bg-intro-triangle-tablet.svg") 0 117px no-repeat,
      url("../img/bg-back-tablet@2x.jpg");
    background-size: 768px 290px;
  }

    background-position: bottom;
  }

  .inner-background__img {
    padding-top: 96px;
    width: 458px;
    height: 78px;
  }
}

@media (min-width: $desktop-width) {
  .inner-background {
    width: $desktop-width;
    height: 302px;
    background: url("../img/bg-intro-triangle-desktop.svg") 0 56px no-repeat,
      url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/bg-intro-triangle-desktop.svg") 0 123px no-repeat,
        url("../img/bg-back-desktop@2x.jpg");
      background-size: 1200px 302px;
    }
    background-position: bottom;
  }

  .inner-background__img {
    padding-top: 100px;
    width: 461px;
    height: 79px;
  }
}
