.inner-header__headline {
  margin: 0;
  padding-top: 37px;
  padding-bottom: 10px;
}

.inner-header__intro {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  padding-top: 14px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 27px;
}

.inner-header__intro--photo {
  padding-left: 25px;
  padding-right: 25px;
}

.inner-header__headline--bottom {
  padding-top: 34px;
}

@media (min-width: $tablet-width) {
  .inner-header__headline {
    padding-top: 76px;
    font-size: 30px;
    line-height: 26px;
    padding-bottom: 0;
  }

  .inner-header__headline--bottom {
    padding-top: 64px;
    margin-bottom: 3px;
  }

  .inner-header__intro {
    padding-top: 27px;
    padding-bottom: 72px;
    padding-left: 103px;
    padding-right: 103px;
  }

  .inner-header__intro--photo {
    padding-left: 163px;
    padding-right: 163px;
    padding-bottom: 73px;
  }
}

@media (min-width: $desktop-width) {
  .inner-header__headline {
    padding-top: 111px;
    font-size: 30px;
    line-height: 26px;
    padding-bottom: 0;
  }

  .inner-header__intro {
    padding-top: 31px;
    padding-bottom: 60px;
    padding-left: 263px;
    padding-right: 263px;
  }

  .inner-header__headline--bottom {
    padding-top: 70px;
  }

  .inner-header__intro--photo {
    padding-left: 380px;
    padding-right: 380px;
  }
}
