/*.inner-header {}*/

.inner-header__headline {
  margin: 0;
  padding-top: 37px;
  padding-bottom: 10px;
}

.inner-header__intro {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  padding-top: 14px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 27px;
}
