.main-background {
  width: 320px;
  height: 389px;
  background: url("../img/bg-intro-triangle-mobile.svg") 0 363px no-repeat,
    url("../img/bg-back-mobile@1x.jpg"),
    #8fb6d3;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/bg-intro-triangle-mobile.svg") no-repeat,
      url("../img/bg-back-mobile@2x.jpg"),
      #8fb6d3;
    background-size: contain, 768px 389px;
    background-position: bottom, bottom;
  }

  background-position: bottom, bottom;
}

.main-background__img {
  padding-top: 90px;
}


@media (min-width: $tablet-width) {
  .main-background {
    width: $tablet-width;
    height: 518px;
    background: url("../img/bg-intro-triangle-tablet.svg") 0 56px no-repeat,
      url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/bg-intro-triangle-tablet.svg") 0 231px no-repeat,
        url("../img/bg-back-tablet@2x.jpg");
      background-size: 768px 518px;
      background-position: bottom, bottom;
    }

    background-position: bottom, bottom;
  }

  .main-background__img {
    padding-top: 77px;
    width: 460px;
    height: 350px;
  }
}

@media (min-width: $desktop-width) {
  .main-background {
    width: $desktop-width;
    height: 518px;

    background: url("../img/bg-intro-triangle-desktop.svg") 0 56px no-repeat,
      url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/bg-intro-triangle-desktop.svg") 0 231px no-repeat,
        url("../img/bg-back-desktop@2x.jpg");
      background-size: contain, 1200px 518px;
      background-position: bottom, bottom;
    }
    background-position: bottom, bottom;
  }
}
