.opinion {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
  margin-bottom: 8px;
}

.opinion__title {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 23px;
}

.opinion__data {
  margin-bottom: 11px;
  margin-left: 20px;
  min-height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.opinion__input {
  width: 56px;
  height: 56px;
  position: relative;
  border: none;
}

.opinion__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .opinion {
    border-bottom: none;
  }

  .opinion__title {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 57px;
    text-align: left;
  }

  .opinion__data {
    margin-bottom: 21px;
    margin-left: 2px;
  }

  .opinion__label {
    padding-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .opinion__title {
    padding-left: 82px;
    padding-top: 0;
  }

  .opinion__data {
    padding-left: 7px;
  }
}
