.opinion {
  border-bottom: 1px solid #e5e5e5;
}

/*.opinion__title{}
*/
.opinion__data {
  margin-bottom: 23px;
  margin-left: 20px;
}

/*.opinion__input{}*/

.opinion__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}
