.photo-video {
  font-size: 14px;
  line-height: 24px;
}

.photo-video__list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.photo-video__item {
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 18px;
  padding-top: 22px;
}

.photo-video__img {
  width: 280px;
  height: 280px;
}

.photo-video__desc {
  font-weight: 700;
  margin: 0;
  padding-top: 8px;
}

.photo-video__author {
  text-transform: none;
  font-weight: 400;
  margin: 0;
  padding-bottom: 4px;
}

.photo-video__likes {
  font-weight: 700;
  padding-left: 10px;
}

.photo-video__svg path {
  fill: #b2b2b2;
}

@media (min-width: $tablet-width) {
  .photo-video__list {
    border-top: none;
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-wrap: wrap;
  }

  .photo-video__item {
    border-bottom: none;
    text-align: left;
    position: relative;
    padding: 0;
    background: #f2f2f2;
  }

  .photo-video__list li {
    width: 50%;
  }

  .photo-video__list li:first-child {
    width: 100%;
  }

  .photo-video__img {
    width: 100%;
    height: 266px;
  }

  .photo-video__img--sunset {
    height: 400px;
  }

  .photo-video__desc {
    padding-left: 19px;
  }

  .photo-video__author {
    padding-left: 19px;
    padding-bottom: 18px;
  }

  .photo-video__likes {
    position: absolute;
    width: 52px;
    text-align: left;
    bottom: 30px;
    right: 0;
  }

  .photo-video__svg {
    position: absolute;
    bottom: 33px;
    right: 63px;
  }

  .photo-video__svg path {
    fill: #a9a9a9;
  }
}

@media (min-width: $desktop-width) {
  .photo-video__list {
    border-top: none;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }

  .photo-video__item {
    border-bottom: none;
    text-align: left;
    padding-left: 0;
    height: 266px;
  }

  .photo-video__list li {
    width: 33.3%;
  }

  .photo-video__list li:first-child {
    width: 100%;
    margin-top: 10px;
    height: 400px;
  }

  .photo-video__desc {
    position: absolute;
    color: #ffffff;
    bottom: 40px;
    left: 5px;
  }

  .photo-video__author {
    position: absolute;
    color: #ffffff;
    bottom: 0;
    left: 5px;
  }

  .photo-video__likes {
    color: #ffffff;
    right: 0;
    width: 53px;
  }

  .photo-video__svg {
    bottom: 30px;
    right: 63px;
  }

  .photo-video__svg path {
    fill: #ffffff;
  }
}
