.promobanner {
  background: #81b3d2;
  color: #ffffff;
}

.promobanner__title {
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0;
}

.promobanner__number {
  font-size: 14px;
  line-height: 21px;
}

.promobanner__description {
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 0;
  padding-bottom: 25px;
}

.promobanner__img {
  height: 260px;
  width: 320px;
  padding: 0;
  margin: 0;
}

.promobanner__img--town {
  background-color: #40520e;
  background-image: url("../img/main-city-mobile@1x.jpg");
}

.promobanner__img--bridge {
  background-color: #53362c;
  background-image: url("../img/main-bridge-mobile@1x.jpg");
}

@media (min-width: $tablet-width) {
  .promobanner {
    display: flex;
  }

  .promobanner__text {
    width: 256px;
  }

  .promobanner__title {
    padding-top: 44px;
    padding-bottom: 12px;
    padding-left: 53px;
    padding-right: 53px;
  }

  .promobanner__description {
    padding-top: 5px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .promobanner__img {
    height: 256px;
    width: 512px;
    background-position: center;
  }

  .promobanner__img--town {
    background: url("../img/main-city-tablet@1x.jpg");
  }

  .promobanner__img--bridge {
    background: url("../img/main-bridge-tablet@1x.jpg");
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .promobanner__text {
    width: 400px;
  }

  .promobanner__title {
    padding-top: 50px;
    width: 150px;
    padding-left: 124px;
    padding-right: 124px;
  }

  .promobanner__description {
    padding-left: 67px;
    padding-right: 67px;
  }

  .promobanner__description--bridge {
    padding-left: 85px;
    padding-right: 85px;
  }

  .promobanner__img {
    height: 256px;
    width: 800px;
  }

  .promobanner__img--town {
    background: url("../img/main-city-desktop@1x.jpg");
    background-position: 0 -77px;
  }

  .promobanner__img--bridge {
    background: url("../img/main-bridge-desktop@1x.jpg");
    background-position: 0 -77px;
  }
}
