.promotext {
  text-align: left;
  padding-right: 40px;
  padding-left: 70px;
  padding-top: 35px;
  padding-bottom: 5px;
}

.promotext__item {
  padding-bottom: 15px;
}

/*.promotext__item--house {}

.promotext__item--gift {}

.promotext__item--eat {}*/

.promotext__headline {
  text-align: left;
  margin: 0;
}

/*.promotext__description {}*/
