.promotext {
  text-align: left;
  padding-right: 40px;
  padding-left: 70px;
  padding-top: 35px;
  padding-bottom: 5px;
}

.promotext__item {
  padding-bottom: 15px;
}

.promotext__headline {
  text-align: left;
  margin: 0;
}

.promotext__item--house {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: -48px;
    top: -10px;
    width: 38px;
    height: 37px;
    background-image: url("../img/icon-house.svg");
  }
}

.promotext__item--burger {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: -51px;
    top: -7px;
    width: 39px;
    height: 35px;
    background-image: url("../img/icon-burger.svg");
  }
}

.promotext__item--gift {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: -46px;
    top: -12px;
    width: 32px;
    height: 38px;
    background-image: url("../img/icon-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .promotext {
    display: flex;
    min-height: 165px;
    justify-content: space-between;
    padding-right: 48px;
    padding-left: 48px;
    padding-top: 160px;
    padding-bottom: 5px;
  }

  .promotext__item {
    width: 160px;
    text-align: center;
  }

  .promotext__headline {
    text-align: center;
  }

  .promotext__item--house {
    order: -1;

    &::before {
      left: 39px;
      top: -104px;
      width: 75px;
      height: 73px;
    }
  }

  .promotext__item--gift {
    order: 0;
    width: 164px;

    &::before {
      left: 49px;
      top: -106px;
      width: 63px;
      height: 75px;
    }
  }

  .promotext__item--burger {
    order: -1;

    &::before {
      left: 44px;
      top: -101px;
      width: 76px;
      height: 69px;
    }
  }

  .promotext__description {
    margin: 0;
    padding-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promotext {
    padding-right: 70px;
    padding-left: 70px;
  }

  .promotext__item {
    width: 260px;
  }

  .promotext__item--house {
    order: -1;

    &::before {
      left: 94px;
      top: -104px;
      width: 75px;
      height: 73px;
    }
  }

  .promotext__item--gift {
    width: 260px;

    &::before {
      left: 100px;
      top: -106px;
      width: 63px;
      height: 75px;
    }
  }

  .promotext__item--burger {
    width: 287px;

    &::before {
      left: 106px;
      top: -98px;
      width: 76px;
      height: 69px;
    }
  }

  .promotext__description span {
    display: block;
  }
}
