@media (min-width: $tablet-width) {
  .relation-back {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .relation-back {
    padding-left: 117px;
    padding-right: 117px;
  }
}
