.sedona-button {
  width: 201px;
  height: 26px;
  background: #81b3d2;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 40px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
