.site-nav {
  position: relative;
  margin-bottom: 56px;
}

.site-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav__item,
.site-nav__item a {
  background: #81b3d2;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}

.site-nav__item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.site-nav__item--logo {
  padding: 0;
}

.site-nav__item--logo a {
  background: transparent;
}

.site-nav__logo-image {
  background: url("../img/logo-sedona-mobile.svg");
  width: 102px;
  height: 84px;
}

.site-nav__toggle {
  position: absolute;
  bottom: -38px;
  right: 20px;
  width: 24px;
  height: 23px;
  border: none;
  background-color: transparent;
}

.site-nav__toggle::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 24px;
  height: 23px;
  background-image: url("../img/icon-menu.svg");
}

.site-nav__logo {
  position: absolute;
  bottom: -98px;
  left: calc(50% - 51px);
  background: #ffffff;
}

@media (min-width: $tablet-width) {
  .site-nav__list {
    display: flex;
    justify-content: space-around;
  }

  .site-nav__item,
  .site-nav__item a {
    background: #ffffff;
    color: #000000;
    min-width: 106px;
  }

  .site-nav__list li:nth-child(1),
  .site-nav__list li:nth-child(2) {
    order: -2;
  }

  .site-nav__item--logo {
    order: -1;
    height: 83px;
  }

  .site-nav__logo-image {
    background: url("../img/logo-sedona-tablet.svg");
    width: 102px;
    height: 84px;
  }

  .site-nav__toggle {
    display: none;
  }

  .site-nav__logo {
    position: relative;
    bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-nav__logo-image {
    background: url("../img/logo-sedona-desktop.svg");
    width: 186px;
    height: 96px;
  }
}
