.site-nav {
  position: relative;
}

.site-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav__list a {
  display: block;
  padding: 7px 21px;
  background: #81b3d2;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}

.site-nav__logo-image {
  width: 102px;
  height: 84px;
}

@media (max-width: $mobile-width-only) {
  .site-nav__list a,
  .site-nav__list a[href] {
    &:hover {
      background-color: #669ec0;
      border-top-color: #669ec0;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #5496bd;
      border-top-color: #5496bd;
    }
  }

  .site-nav__item {
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;

    &:hover {
      border-top: 1px solid #86b2cd;
      border-bottom: 1px solid #cccccc;
    }

    &:active {
      border-top: 1px solid #77acca;
      border-bottom: 1px solid #cccccc;
    }
  }

  .site-nav__item--logo {
    padding: 0;
    border-top: none;
    border-bottom: none;
    height: 56px;
    background-color: transparent;

    &:hover,
    &:active {
      border-top: none;
      border-bottom: none;
    }
  }

  .site-nav__item--logo a,
  .site-nav__item--logo a[href] {
    background: transparent;
    padding: 0;

    &:hover {
      background-color: transparent;
      border-top-color: transparent;
    }

    &:active {
      background-color: transparent;
      border-top-color: transparent;
    }
  }

  .site-nav__toggle {
    position: absolute;
    bottom: 18px;
    right: 20px;
    z-index: 2;
    display: block;
    width: 23px;
    height: 21px;
    background-color: transparent;
    cursor: pointer;
    border: none;

    &:hover,
    &:active {
      background-color: transparent;
    }
  }

  .site-nav--closed .site-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 4px;
    background-color: #81b3d2;
    box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
  }

  .site-nav--opened .site-nav__toggle {
    position: absolute;
    top: 24px;
    right: 20px;
    width: 24px;
    height: 20px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 4px;
      right: -4px;
      width: 34px;
      height: 4px;
      background-color: #ffffff;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .site-nav__logo {
    padding: 0 0;
    position: absolute;
    bottom: -42px;
    left: calc(50% - 51px);
    background: transparent;
  }

  .site-nav--closed .site-nav__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .site-nav--closed .site-nav__item--logo {
    display: block;
  }

  .site-nav--nojs .site-nav__toggle {
    display: none;
  }

  .site-nav--nojs .site-nav__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .site-nav__list a {
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    padding-top: 15px;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      color: #b2b2b2;
    }
  }

  .site-nav__list {
    padding-left: 23px;
    padding-right: 23px;
    display: flex;
    justify-content: space-between;
    height: 56px;
  }

  .site-nav__item,
  .site-nav__item a {
    background: transparent;
    color: #000000;
    min-width: 106px;
  }

  .site-nav__list li:nth-child(1),
  .site-nav__list li:nth-child(2) {
    order: -2;
  }

  .site-nav__item--logo {
    order: -1;
    height: 83px;
  }

  .site-nav__item--logo a {
    padding-top: 0;
  }

  .site-nav__toggle {
    display: none;
  }

  .site-nav__logo {
    position: relative;
    bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-nav__list {
    padding-left: 65px;
    padding-right: 65px;
  }

  .site-nav__item--logo a {
    padding-top: 0;
  }

  .site-nav__logo-image {
    position: absolute;
    left: -44px;
    top: 0;
    width: 190px;
    height: 96px;
  }
}
