.visited {
  border-bottom: 1px solid #e5e5e5;
}

/*.visited__title {

}*/

.visited__data {
  margin-bottom: 23px;
  margin-left: 20px;
}

/*.visited__input {}*/

.visited__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}
