.visited {
  border-bottom: 1px solid #e5e5e5;
}

.visited__data {
  margin-bottom: 23px;
  margin-left: 20px;
}

.visited__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .visited {
    display: flex;
    flex-wrap: wrap;
    border-bottom: none;
    margin-left: 40px;
    margin-right: 40px;
  }

  .visited__title {
    margin-top: 35px;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 58px;
  }

  .visited__data {
    width: 192px;
    margin-left: 70px;
    margin-bottom: 61px;
  }

  .visited__label {
    padding-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .visited {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .visited__title {
    margin-top: 30px;
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
  }

  .visited__data {
    width: 177px;
    margin-left: 23px;
  }

  .visited__label {
    width: 100%;
    padding-left: 38px;
  }
}
